.contenedor{
    background:  linear-gradient(#f0f090, #f87474);;
    margin-left: 20px;
    margin-top: 25px;
    height: 300px;
    width: 300px;
    backdrop-filter: blur(6px);
    border: 10px solid #1c1d1c;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.096) 0px 7px 29px 0px;
    border: 3px solid black;
    color: #000000;
    opacity: 100%;
    align-items: center;
    text-decoration: none;
    background-image: url('https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.tiulo{
    font-family: 'Square Peg', cursive;
    font-size:large;
    text-decoration: none;    
    margin: 5px;
    color: #ff0404;
}

.img{
    height: 200px;
    width: 230px;
    border: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.h4{
    line-height: 1%;
    font-family: 'Square Peg', cursive;
    font-size: x-large;
    text-decoration: none;   
    color:#000000; 
}