
.container{
/*   display: flex;
  flex-direction: column; */
  /*  background-color: rgb(231, 195, 248); */
  background-color: green;
}
.h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 25px;
    font: italic;
    text-shadow: 1px 1px 2px rgb(243, 226, 226), 0 0 1em rgba(39, 39, 53, 0.808), 0 0 0.2em rgb(99, 99, 121);
}
.upText{
  display: flex;
  flex-direction: column;
  /* margin-block-end: 800px; */
  justify-content:end;
  width: 300px;
  text-align: left;
  
 
}
.img{
    
    border-radius: 15px;
    
    max-width:300px;
    max-height: 300px;

    text-align: right;
     
    /* margin-left: 68%; */
    /* margin-block-end: 2%; */
    margin-top: 1%;
}
.h2{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgb(243, 226, 226), 0 0 1em rgba(71, 71, 107, 0.808), 0 0 0.2em rgb(99, 99, 121);
    margin-bottom: 3px;
    color: white;
}
.text{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  /*   text-align: left */;
   /*  text-decoration: underline; */
    /* text-shadow: 1px 1px 2px rgb(243, 226, 226), 0 0 1em rgba(71, 71, 107, 0.808), 0 0 0.2em rgb(99, 99, 121); */
    margin-bottom: 3px;
    color: white;
    /* display: grid; */
    justify-content: center;
    width: 400px;
}
.h5{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    height: 100px;
}

.p{
    font-size: 10px;
    margin-bottom: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: left;
}

.boton{
    border: 1,5 solid rgba(27, 23, 23, 0.815);
    color: rgb(60, 71, 235);
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: left;
    text-decoration: none;
    margin-bottom: 21px;
}

.boton:hover{
    color:white;
    background-color:rgb(60, 71, 235);
}
